pandas==2.2.2
scikit-image==0.22.0
scikit-learn==1.4.2
scipy==1.10.1
onnxruntime-gpu==1.16.3
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.82
matplotlib>=3.6.1
funcy==2.0
wandb==0.17.0
albumentations==1.4.6
fiftyone==0.24.1
ipykernel
exif
tqdm
boxsdk
openpyxl
ffmpeg-python
tensorboard
argparse
seaborn
scikit-multilearn
pycocotools
shapely
terminaltables
argparse
future
prettytable
openmim
mmengine>=0.10.4
mmdet==3.3.0

--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0 
torchvision==0.16.0

--extra-index-url https://download.openmmlab.com/mmcv/dist/cu121/torch2.1/index.html
mmcv==2.1.0 
